<header class="header">
    <div class="header-container">
        <img src="../../../assets/img/header/header-logo.svg" alt="Logo">
        <nav>
            <ul class="header-nav">
                <li class="header__link" routerLink="/company" routerLinkActive="active">Компания</li>
                <li class="header__link">Направления</li>
                <li class="header__link">Проекты</li>
                <li class="header__link">Контакты</li>
            </ul>
        </nav>
        <p class="header__email">heidster.studio@gmail.com</p>
    </div>
</header>
