<footer class="footer">
    <div class="footer-container">
        <div class="footer-links">
          <img src="../../../assets/img/footer/footer-vk-icon.svg" alt="VK">
          <img src="../../../assets/img/footer/footer-facebook-icon.svg" alt="Facebook">
          <img src="../../../assets/img/footer/footer-instagram-icon.svg" alt="Instagram">
        </div>
        <div class="footer-info">
          <div class="footer-left">
            <img src="../../../assets/img/footer/footer-location-icon.svg" alt="Location">
            <p class="footer-left__address">ул. Металургическая <br>
              д. 102/2 4 этаж офис 406</p>
          </div>
          <div class="footer-centre">
            <p class="footer-center__company">© 2021<br>Heidster Studio</p>
          </div>
          <div class="footer-right">
            <div class="footer-wrapper">
              <img src="../../../assets/img/footer/footer-mail-icon.svg" alt="Mail">
              <p class="footer-right__info">heidster.studio@gmail.com</p>
            </div>
            <div class="footer-wrapper">
              <img src="../../../assets/img/footer/footer-phone-icon.svg" alt="Phone">
              <p class="footer-right__info">+7-951-535-38-39</p>
            </div>
          </div>
        </div>
    </div>
</footer>
