/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-image: url(assets/img/main/main-background.png);
  background-size: cover;
  margin: 0;
  padding: 0;

  h1,
  p,
  li,
  nav {
    margin: 0;
    padding: 0;
  }
}
