<title>{{title}}</title>
<section class="info">
    <div class="info-container">
        <h1 class="info__title">Компания</h1>
        <p class="info__description">
            Hidster Studio специализируется на разрабоке заказного
            программного обеспечения, а также на IT-аутсорсинге.
            Реализуем полный жизненный цикл, разрабатываемых программных
            продуктов: проектирование, разработка, поддержка.
        </p>
        <p class="info__description">
            Мы делаем сложные вещи простыми и доступными людям,
            заставляя технологии работать на нас и для нас.
        </p>
    </div>
</section>

<section class="project-map">
    <div class="project-map-container">
        <h1 class="project-map__title">Как мы работаем</h1>
        <ul class="project-map-list">
            <li class="project-map-list__element">Разрабатываем прототип продукта (согласовываем его с вами)</li>
            <li class="project-map-list__element">Разрабатываем его дизайн (согласовываем его с вами)</li>
            <li class="project-map-list__element">Разрабатываем сам продукт (согласуем его с вами)</li>
            <li class="project-map-list__element">Тестируем его</li>
            <li class="project-map-list__element">Публикуем его в сети или в магазинах приложений (если это потребуется)</li>
        </ul>
    </div>
</section>
